@import "tailwindcss";

@theme colors {
  --color-white: #fafafa;
  --color-tint: #f6ff00;
  --color-tint-gray: #3f3f3f;
  --color-background: #0a0a0a;
  --color-background-secondary: #101010;
  --color-border: #313131;
  --color-border-secondary: #1f1f1f;
}

@layer components {
  body {
    background-color: var(--color-background);
    color: var(--color-white);
    font-family: "Inter", sans-serif;
  }
}
